{% extends 'base.html.twig' %}

{% block title %}Delete Task{% endblock %}

{% block body %}
    <div>
        <h2>Delete Task</h2>
        <h3>Are you sure you want to delete this task?</h3>
        
        <div class="jumbotron">
            <dl>
                <dt>Title</dt><dd>{{ task.title }}</dd>
                <dt>Description</dt><dd>{{ task.description }}</dd>
                <dt>Date</dt><dd>{{ task.date ? task.date | date('Y-m-d') : '' }}</dd>
                <dt>Status</dt><dd>{{ task.status }}</dd>
            </dl>

            <div class="form_group">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <a href="{{ path('task') }}">Back to List</a>
        </div>
    </div>
{% endblock %}
